In [4]:
#import libraries
import pandas as pd
import numpy as np
import os

In [5]:
#import df through path
path = r'C:\Users\shann\05-2023 Instacart Basket Analysis'

In [6]:
#import merged pickle file
orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

SystemError: deallocated bytearray object has exported buffers

MemoryError:

In [4]:
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_military_time,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both

In [6]:
#creating a subset
df = orders_products_merged[:1000000]

In [7]:
#checking shape of new df
df.shape

(1000000, 16)

In [8]:
#using if statements
#define fx

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [9]:
#applying function

df['price_range'] = df.apply(price_label, axis=1)

C:\Users\shann\AppData\Local\Temp\ipykernel_18464\2448618824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [10]:
#count the # valyes for price range
df['price_range'].value_counts(dropna = False)

Mid-range product    652638
Low-range product    338018
High range             9344
Name: price_range, dtype: int64

In [11]:
#check value in prices column
df['prices'].max()

24.5

In [12]:
#if statements with loc fx
#apply loc() fx to df
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\shann\AppData\Local\Temp\ipykernel_18464\762407523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [18]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: price_range_loc, dtype: int64

In [20]:
#if statements with for loops
#counting number of orders per day
orders_products_merged['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [21]:
#creating container 
result = []

In [23]:
#adding elements

for value in orders_products_merged['order_dow']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [24]:
orders_products_merged['busiest_day'] = result

In [25]:
orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [26]:
#question 2
#counting number of orders / day

orders_products_merged['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [27]:
#creating an empty shell
result2 = []

In [28]:
#adding new labels

for value in orders_products_merged['order_dow']:
  if value == 0 or value ==1:
    result2.append('Most busiest')
  elif value == 4 or value == 3:
    result2.append('Least busiest')
  else:
    result2.append('Regular busy')

In [29]:
# creating new column

orders_products_merged['busiest_days'] = result2

In [30]:
#check df
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_military_time,days_since_prior_order,add_to_cart_order,reordered,_merge,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both,Regularly busy,Regular busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both,Regularly busy,Regular busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both,Busiest day,Most busiest
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,NaN,10,0,both,Regularly busy,Least busiest
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both,Least busy,Least busiest

In [31]:
#question 3
orders_products_merged['busiest_days'].value_counts(dropna = False)

Regular busy     12916111
Most busiest     11864412
Least busiest     7624336
Name: busiest_days, dtype: int64

In [32]:
#question 4
#check columns
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_military_time,days_since_prior_order,add_to_cart_order,reordered,_merge,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both,Regularly busy,Regular busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both,Regularly busy,Regular busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both,Busiest day,Most busiest
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,NaN,10,0,both,Regularly busy,Least busiest
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both,Least busy,Least busiest

In [35]:
#create dataframe with counts of orders per hour 

counts = orders_products_merged['order_military_time'].value_counts().rename_axis('hour').reset_index(name='counts')

In [36]:
counts

    hour   counts
0     10  2761760
1     11  2736140
2     14  2689136
3     15  2662144
4     13  2660954
5     12  2618532
6     16  2535202
7      9  2454203
8     17  2087654
9      8  1718118
10    18  1636502
11    19  1258305
12    20   976156
13     7   891054
14    21   795637
15    22   634225
16    23   402316
17     6   290493
18     0   218769
19     1   115700
20     5    87961
21     2    69375
22     4    53242
23     3    51281

In [37]:
#create list showing the % for military time

orders = list(orders_products_merged['order_military_time'].value_counts().quantile([0.25, 0.5, 0.75]))

In [38]:
orders

[272562.0, 1117230.5, 2556034.5]

In [39]:
#createlists
few = list(counts.loc[counts['counts'] <= orders[0]]['hour'])

In [42]:
average = list(counts.loc[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])

In [43]:
most = list(counts.loc[counts['counts'] >= orders[2]]['hour'])

In [47]:
#creatingindex
index_few = orders_products_merged['order_military_time'].isin(few)

In [49]:

index_average = orders_products_merged['order_military_time'].isin(average)

In [50]:
index_most = orders_products_merged['order_military_time'].isin(most)

In [51]:
#creating new col w labels

orders_products_merged.loc[index_few, 'busiest_period_of_day'] = 'Fewest orders'

In [52]:
orders_products_merged.loc[index_average, 'busiest_period_of_day'] = 'Average orders'

In [53]:
orders_products_merged.loc[index_most, 'busiest_period_of_day'] = 'Most orders'

In [54]:
#check head

orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_military_time,days_since_prior_order,add_to_cart_order,reordered,_merge,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both,Regularly busy,Regular busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both,Regularly busy,Regular busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both,Busiest day,Most busiest,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,NaN,10,0,both,Regularly busy,Least busiest,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both,Least busy,Least busiest,Average orders

In [55]:
#check shape
orders_products_merged.shape

(32404859, 19)

In [56]:
#question 5
#freq

orders_products_merged['busiest_period_of_day'].value_counts()

Most orders       16128666
Average orders    15679865
Fewest orders       596328
Name: busiest_period_of_day, dtype: int64

In [57]:
#question 7 export pickle
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated.pkl'))